@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&display=swap');
:root {
  --spartan: 'League Spartan', sans-serif;
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-size: 1.5rem;
  font-family: var(--spartan);
  padding: 6rem 2rem;
  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 40rem;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first {
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
.text h1 {
  font-size: 4.7rem;
  text-align: center;
  color: var(--very-dark-magenta);
  font-weight: 700;
  line-height: 3.8rem;
  margin-bottom: 7%;
}
.text p {
  font-size: 2.1rem;
  text-align: center;
  color: var(--dark-grayish-magenta);
  font-weight: 500;
  line-height: 2.6rem;
  margin-bottom: 13%;
}
.stars {
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.template {
  max-width: 40rem;
  width: 100%;
  background-color: var(--light-grayish-magenta);
  padding: 5% 0;
  margin-bottom: 5%;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.template img {
  width: 2.1rem;
  margin-right: 0.7rem;
}
.template img:nth-child(5) {
  margin-right: 0;
}
.template h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 4%;
  color: var(--very-dark-magenta);
  font-weight: 700;
}
.second {
  max-width: 40rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comments {
  max-width: 40rem;
  width: 100%;
  padding: 10% 10%;
  background-color: var(--very-dark-magenta);
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 5%;
}
.comments:nth-child(3) {
  margin-bottom: 0;
}
#user-1, #user-2, #user-3 {
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 11%;
}
#user-1 img , #user-2 img, #user-3 img {
  width: 4.9rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 7%;
}
.name h3 {
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
}
.name h4 {
  font-size: 1.9rem;
  color: var(--soft-pink);
  font-weight: 400;
  margin-top: 0.5rem;
}
.comments p {
  font-size: 2rem;
  color: var(--white);
  font-weight: 400;
  line-height: 2.5rem;
}

@media screen and (min-width: 769px) {

body {
  padding: 6% 8%;
}
.container {
  max-width: 120rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first {
  max-width: 120rem;
  width: 100%;
  flex-direction: row;
  margin-bottom: 6%;
}
.text, .stars {
  flex: 50%;
}
.text h1 {
  font-size: 5.7rem;
  text-align: left;
  line-height: 4.9rem;
  padding-right: 20%;
  margin-bottom: 6%;
}
.text p {
  font-size: 1.9rem;
  text-align: left;
  font-weight: 500;
  line-height: 2.7rem;
  margin-bottom: 0;
  padding-right: 17%;
}
.stars {
  max-width: none;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.template {
  max-width: none;
  width: 85%;

  padding: 3% 0 3% 5%;
  margin-bottom: 3%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.template:nth-child(3) {
  margin-bottom: 0;
}
section {
  margin-right: 3rem;
}
.template img {
  width: 1.9rem;
  margin-right: 0.7rem;
}

.template h2 {
  font-size: 1.8rem;
  margin-top: 0;
}
.template:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}
.template:nth-child(3) {
  margin-left: auto;
}
.second {
  max-width: 120rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; /* Jako važno */
}
.comments {
  max-width: none;
  width: 31.5%;
  padding: 2.5% 2.5%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-self: stretch; /* Jako važno */
}

#user-1, #user-2, #user-3 {
  max-width: none;
  margin-bottom: 10%;
}
.name h3 {
  font-size: 1.8rem;
}
.name h4 {
  font-size: 1.7rem;
}
.comments p {
  font-size: 1.8rem;
  flex-grow: 1;
}
.comments:nth-child(3) {
  margin-top: 4%;
}
.comments:nth-child(2) {
  margin-top: 2%;           /* Sve margine su jako važne*/
  margin-bottom: 2%;
}
.comments:nth-child(1) {
  margin-bottom: 4%;
}
}
